# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Dee/Dee.opensdf
Dee/Dee.sdf
Dee/Dee.v12.suo
*.tlog
*.log
*.pdb
*.ilk
Dee.exe
Dee/Debug/vc120.idb
*.obj
